EXPO_PUBLIC_SUPABASE_URL=https://irkbdinugnasepjowhzr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlya2JkaW51Z25hc2Vwam93aHpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MzE5NjIsImV4cCI6MjA4OTIwNzk2Mn0.pT8yQNHdpJM6lAPO6M1YsflfUywLtEYFwG9pVNenM9M
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_YmyoNNN-ZqA7oAWVge3Haw_SeFm1el7
